{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}

<h1 style="display: inline-block; margin-right: 40px">New Questions</h1>
<a href="{% url 'hot' %}" alt=""><h5 style="display: inline-block">Hot Questions</h5></a>

{% for qadd uestion in questions %}

{% include 'components/question-item.html' %}

{% endfor %}

<br>
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

{% endblock %}