{% extends 'layouts/base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% block content %}
<div class="col-5">

        <h1 style="display: inline-block; margin-right: 40px">Log In</h1>
        <a href="{% url 'signup' %}" alt=""><h3 style="display: inline-block">Sign Up</h3></a>


    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form%}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div class="col-4">

</div>

{% endblock %}