{% extends 'layouts/base.html' %}

{% block content %}

<div class="row question" style="border: 3px solid grey">
    <div class="col-3">
        <img src="../static/img/ico_avatar.png" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">5</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/like.png" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/dislike_icon.png" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">
        <sdiv class="question-title">{{question.title}}</sdiv>
        <div class="question-text">
            {{question.content}}
        </div>
        <br>
        <p style="display: inline-block;">
            Tags: <a href="#1">black-jack</a>
            <a href="#2">bender</a>
        </p>
    </div>
</div>

<div class="row question">
    <div class="col-3">
        <img src="../static/img/ico_avatar.png" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">5</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/like.png" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/dislike_icon.png" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">

        <div class="question-text">
            First of all I would like to thank you for the invitation to participate in such a... Russia is
            the huge territory, which in many respects needs to be render habitable.
        </div>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Correct!
            </label>
        </div>
        </p>
    </div>
</div>

<div class="row question">
    <div class="col-3">
        <img src="../static/img/ico_avatar.png" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">3</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/like.png" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/dislike_icon.png" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">

        <div class="question-text">
            First of all I would like to thank you for the invitation to participate in such a... Russia is
            the huge territory, which in many respects needs to be render habitable.
        </div>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
            <label class="form-check-label" for="flexCheckChecked">
                Correct!
            </label>
        </div>
        </p>
    </div>
</div>
<br>
<div class="mb-3">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                          placeholder="Enter your answer here."></textarea>
    <br>
    <button class="btn btn-success">Answer!</button>
</div>

{% endblock %}