{% load static %}

<div class="row question">
    <div class="col-3">
        <img src="../static/img/ico_avatar.png" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">{{answer.count_of_likes}}</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/like.png" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/dislike_icon.png" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">

        <div class="answer-text">
            {{question.question_text}}
        </div>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Correct!
            </label>
        </div>
        </p>
    </div>
</div>