{% load static %}

<div class="row question" style="border: 3px solid grey">
    <div class="col-3">
        <img src="../static/img/ico_avatar.png" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">5</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/like.png" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="../static/img/dislike_icon.png" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">
        <sdiv class="question-title">{{question.title}}</sdiv>
        <div class="question-text">
            {{question.content}}
        </div>
        <br>
        <p style="display: inline-block;">
            Tags: <a href="{% url 'tag' tag_name='black-jack' %}">black-jack</a>
            <a href="{% url 'tag' tag_name='bender' %}">bender</a>
        </p>
    </div>
</div>