{% load static %}

<div class="row question">
    <div class="col-3">
        <img src="{% static '/img/ico_avatar.png' %}" alt="" class="question-image">
        <br>
        <button class="btn btn-primary">{{question.count_of_likes}}</button>
        <button class="like-btn" style="display: inline-block;">
            <img src="{% static '/img/like.png' %}" alt="" style="width: 20px;height: 22px;">
        </button>
        <button class="like-btn" style="display: inline-block;">
            <img src="{% static '/img/dislike_icon.png' %}" alt="" style="width: 20px;height: 22px;">
        </button>

    </div>
    <div class="col-9">
        <div class="question-title"><a
                href="{% url 'question' question_id=question.id %}">{{question.question_title}}</a></div>
        <div class="question-text">
            {{question.question_text}}
        </div>
        <br>
        <a href="{% url 'question' question_id=question.id %}">answer ({{question.count_of_answers}})</a>
        <p style="display: inline-block; margin-left: 40px">
            Tags:
            {% for tag in question.tags.all %}
            <a href="{% url 'tag' tag.tag_name %}">{{ tag.tag_name }}</a>
            {% endfor %}
        </p>
    </div>
</div>